
#searchText {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    /*width: 100%; *//* Full-width */
    width: 300px;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#deleteCol {
    width:20px;
}

#completeCol {
    width:30px;
}

#dateCol {
    width:30px;
}
.disabledCheckbox {
    color: chocolate;
    opacity: .3;
}
.switch input[type="checkbox"][disabled] + .lever {
    background-color: red;
}
.underlined{
    text-decoration:underline;
}
.labelWidth{
    width:90px;
}

.descriptionWidth{
    width:500px;
}
